/* General Styling */
.handshake-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: #ffffff;
  animation: fadeIn 1s ease-in-out;
}

/* Handshake Section */
.handshake-content {
  position: relative;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 16px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  animation: popUp 1s ease-in-out;
}

/* Input Fields */
.form-group input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 18px;
  background-color: #ffffff;
  transition: border-color 0.3s ease-in-out;
}

.form-group input:focus {
  outline: none;
  border-color: #DAA520;
}

.handshake-choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.handshake-buttons-container {
  display: flex;
  gap: 15px; /* Space between buttons */
}

.handshake-button {
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  background-color: #DAA520;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.handshake-button:hover {
  background-color: #B8860B;
}