.logout-button {
    padding: 10px 20px;
    background-color: #daa520;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .logout-button:hover {
    background-color: #b8860b;
  }