code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('./fonts/DarkerGrotesque-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('./fonts/DarkerGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('./fonts/DarkerGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('./fonts/DarkerGrotesque-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('./fonts/DarkerGrotesque-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Darker Grotesque';
  src: url('./fonts/DarkerGrotesque-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Global font application */
body {
  font-family: 'Darker Grotesque', Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffffff; /* Set the background to white */
  color: #333; /* Default text color */
}

h1, h2, h3, h4, h5, h6, p, input, button {
  font-family: 'Darker Grotesque', Arial, sans-serif;
}